<div>
  <div class="max-w-xs bg-white border border-gray-100 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 transition duration-500 hover:brightness-125
transition duration-500">
    <a href="{{ path('fish_item', { id: fish.id }) }}">
      {% if fish.picFilename is not null %}
          <img class="rounded-lg h-56 sm:h-full w-full object-cover object-top "
          src="{{ '/uploads/fishes/' ~ fish.picFilename }}"
          alt="{{ fish.name }}"
          loading="lazy"/>

      {% else %}
          <img class="rounded-lg h-56 sm:h-full w-full object-cover object-top "
          src="{{ asset('build/images/poisson.jpg') }}"
          alt="poisson par défaut"
          loading="lazy"/>
      {% endif %}
    </a>
    <div class="mx-5 my-2">
        <a href="{{ path('fish_item', { id: fish.id }) }}">
            <h5 class="mb-1 text-2xl font-bold tracking-tight truncate overflow-hidden whitespace-nowrap text-gray-900 dark:text-white hover:text-blue-700">{{ fish.name }}</h5>
            <span class="mb-1 inline-block font-normal italic truncate overflow-hidden whitespace-nowrap text-gray-400 dark:text-gray-500">{{ fish.latinName }}</span>
        </a>
    </div>
  </div>
</div>
